@charset "utf-8";

* {margin: 0; padding: 0; border: 0; box-sizing: border-box;}

ul {list-style: none;}

a {text-decoration: none; color: #000;}

.clearfix:after {content: ''; display: block; clear: both;}

.Wrap {width: 1200px; background: #aaa; margin: 0 auto;}

<<<<<<< HEAD
.logo {float: left; margin-top: 20px; width: 200px; height: 40px;}

.gnb {width: 800px; float: right; background: #ccc;}

.gnb>ul>li {float: left; width: 25%; background: #ccc;}
.gnb>ul>li>a {display: block; line-height: 40px; color: #fff; text-align: center;}
.sub_menu {display: none;}
.sub_menu>li {}
.sub_menu>li>a {display: block; line-height: 40px; text-align: center; color: #fff; }
=======
.header h1 {margin-top: 20px; width: 200px; height: 40px; float: left;}
.gnb {float: right; width: 700px; margin-top: 20px; background: #bbb;}
.gnb>li {float: left; width: 25%; }
.gnb>li>a {display: block; line-height: 40px; text-align: center; font-size: 20px;}
.gnb>li:hover>a {background: #ccc;}
.sub_menu {display: none;}
.sub_menu>li>a {display: block; line-height: 40px; text-align: center; font-size: 20px;}
.sub_menu>li>a:hover {background: #ccc;}
.slide {width: 1200px; }
>>>>>>> 5823c00b3bb6c92bea31bb492f9e7da8a9a659fc
