@charset "UTF-8";
/* reset */
*{margin: 0;padding: 0;box-sizing:border-box;}
li{list-style:none}
a{text-decoration:none;}
a:link,a:visited{color:#000;}
.clearfix:after{content:"";display: block;clear: both;}

/* header */
/* header */
header {display:flex; justify-content:center; height: 100px;}
.container {
  width: 1000px; _background:pink;
  display:flex; justify-content:space-between;
}



.logo {display:flex; align-items: center;}
.menu {display:flex; align-items: center;}
.menu ul {display:flex; }
.menu ul a {display: block; padding: 15px; }
.menu ul a:hover { .background: #c31822; }
.menu ul a:hover:after { content:""; width: 100%; height: 2px; background: #c31822; display: block; margin-top: 10px; }
.mobile_menu { display: none; width: 30px; height: 30px; }

/* banner */

#banner {
  background-image: url(../images/banner/tony-stark-poster.jpg);
  background-position: center; background-size:cover;
  height:600px;
  display:flex; justify-content:center;
}

.banner_txt {
  display:flex; flex-direction:column;
  flex:1; justify-content: center; align-items: flex-end; color:#fff;
}

.banner_txt h2 { font-size:2.5rem; width: 400px; text-align: left;}
.banner_txt p { font-size:1.3rem; text-align: left; width: 400px; }


.column { flex-direction: column; }
.banner_option { display:flex; }
.banner_option>div { flex:1; background: #c31822; color:#fff; padding: 15px; }
.banner_title { font-weight: bold; font-size: 1.3rem; margin-bottom: 10px; }
.banner_option a { color:#fff; font-size:1.1rem; }
.banner_option a:hover { border-bottom: 1px solid #fff; }

/* .banner_option { display:flex; background: #c31822; color:#fff; font-weight: bold; padding-bottom: 15px; }
.banner_option .banner_title { font-size: 1.2rem; padding: 15px; width: calc(1000px / 3);}
.banner_option a { color:#fff; padding-left: 15px;  } */


/* general */
#general { display:flex; justify-content: center; }
#general section { flex:2; .background: skyblue; }
#general aside { flex:1;}

.widget-title { padding: 25px 0; }
.widget-title-txt { font-size: 1.2rem; font-weight: bold; }
.widget-title-txt:after { content:""; display:block; width: 50px; height: 3px; background: #c31822; margin-top: 10px; }
.widget-body { display:flex; flex-wrap:wrap; }
.widget-body article { flex:1 1 300px; width: 300px; margin-right: 20px; margin-bottom: 20px; }

.news-thumb img { width: 100%; }
.news-date { display:flex; margin-bottom: 10px; }
.news-date-at { background: #c31822; color:#fff; font-weight: bold; font-size:0.9rem; padding: 7px; margin-right: 2px; }
.news-comments { background: #131111; color:#fff; font-weight: bold; font-size:0.9rem; padding: 7px; margin-right: 2px; }
.news-title { font-weight: bold; }

.widget.poster .widget-body {justify-content: space-between;}
.widget.poster .widget-body img {justify-content: space-between;}

.mb20 {margin-bottom: 20px;}

footer {background: #000; padding: 30px 0; display: flex; justify-content: center; color: #fff;}

@media screen and (max-width:700px){
  header { height: 60px; }

  .logo { padding-left: 16px; }
  .logo img { width: 100px; }

  .menu { padding-right: 16px; }
  .menu ul { display: none; }
  .mobile_menu { display:flex; flex-direction: column; justify-content: space-around;}
  .mobile_menu_line {  height: 4px; background-color: #000; border-right: 2px; }

  .banner_txt { align-items: center; }
  .banner_option { flex-direction: column; }
  .banner_option a { display:none; }
  .banner_option>div { padding: 20px; padding-bottom: 0; }
  .banner_option>div:last-child { padding-bottom: 20px; }

  /* general */
  #container { flex-direction: column; }
  #general { padding: 0 20px; }
  article { margin-right: 0; }

  .widget.poster {display: none;}
  .widget-body iframe {width: -webkit-fill-available; height: 260px;}

}
